.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.error-message {
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Arial', sans-serif;
    color: #ff0000;
}



.error-code {
    font-size: 0.8rem;
    font-weight: 600;
    font-family: 'Arial', sans-serif;
    color: #ff0000;
    margin-top: 10px;
}

.error-buttons {
    margin-top: 2rem;
}

 @media (max-width: 1024px) {
    .error-message {
        font-size: 0.8rem;
    }

    .error-code {
        font-size: 0.6rem;
    }
} 