<header class="header-wrapper">
    <div class="header-content">
    <div class="logo-wrapper">
        <img src="logo.png" alt="logo" class="logo">
        <h5>TM</h5>
    </div>
    <nav class="navbar">
        <ul class="nav-list">
          @for (navLink of navLinks; track navLink.label) {
            <li class="nav-item">
              <a 
                class="nav-link" 
                [routerLink]="navLink.routerLink" 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{ exact: navLink.exact }">
                {{navLink.label | titlecase}}
              </a>
            </li>
          }
        </ul>
      </nav>
</div>
</header>