.header-wrapper {
    background: #111827;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    /* height: 80px; */
    top: 0;
    left: 0;
    right: 0;

}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem 0rem 1rem;
    max-width: 1440px;
    margin: 0 auto;
    border-radius: 0.5rem;
    /* margin-bottom: 1rem; */


}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo-wrapper h5 {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.logo {
    width: 50px;
    height: 50px;
}

.nav-list {
    display: flex;
    gap: 1rem;
    padding: 0;  /* Remove default ul padding */
    margin: 0;
  }
  
  .nav-item {
    list-style: none;
  }
  
  .nav-link {
    padding: 0.7rem 1rem;
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    border-bottom: 3px solid transparent;
    transition: border-color 0.3s ease;
  }
  
  .nav-link:hover,
  .nav-link.active {
    border-bottom: 3px solid #2b79c2;
  }

@media (max-width: 768px) {

    .nav-link {
        font-size: 0.8rem;
        padding: 0.5rem;
    }
    .logo {
        width: 40px;
        height: 40px;
    }
    .logo-wrapper {
        gap: 0.25rem;
    }
}