.home-container {
    padding: 2rem 1rem;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.hero-content h1 {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: #000;
}

.hero-content p {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #000;
}

.hero-content {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 3rem;
    
}

.hero-image {
    width: 500px;
    height: 400px;
}

.hero-image-img {
    /* flex: 1; */
    width: 100%;
    height: 100%;
    object-fit: cover;

}

@media (max-width: 768px) {
    .home-container {
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .hero-section {
        flex-direction: column;
    }
    
    .hero-content {
        padding-left: 0;
        padding-top: 1rem;
        gap: 1rem;
        text-align: center;
    }

    .hero-image {
        width: 300px;
        height: 300px;
    }

    .hero-content h1 {
        font-size: 1.5rem;
    }
    
    .hero-content p {
        font-size: 1rem;
        margin-bottom: 2rem;
    }
}