.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.loader-container p {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Arial', sans-serif;
    color: #fff;
}

@media (max-width: 768px) {
    .loader-container p {
        font-size: 1rem;
    }
}